
$bgcolorone:#fff;
$bgcolortwo:#F8F9FA;
$bgcolor:rgba(0, 0, 0, 0.4);
$colorhover:#f16821;
$textcolor:black;
$textcolorone:white;
$numbercolor:#e9ecef;
$h3color:#ADB5BD;
$h2color:#FFFFFF;
$cocolor:#ccc;
$metacolor: #B3B3B3;
$pcolor:#808080;
$footercolor : #737373;
$bgcolorthree:#46DDB0;
$fontfamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;